/* GLOBAL STYLES
-------------------------------------------------- */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.btn-yellow {
  background-color: #FFCC29;
  border-radius: 10px;
  padding: 0.75rem;
  text-transform: uppercase;
  color: black;
}

.btn-yellow:hover {
  background-color: black;
  color: #FFCC29;
}

.bg-yellow {
  background-color: #FFCC29;
  height: 50vh;
  width: auto;
  margin-left: 0;
  padding-left: 0;
}

.bg-black {
  background-color: black;
  height: 50vh;
  width: auto;
  margin-right: 0;
  padding-right: 0;
}

.pm-0 {
  margin: 0;
  padding: 0;
}

/* Navbar */

header .expand {
  padding-top: 3.750rem;
  padding-bottom: 3.3750rem;
}

.retract {
  padding-top: 1.750rem !important;
  padding-bottom: 1.3750rem !important;
}

header .nav-link {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  font-size: 1.05em;
  text-transform: uppercase;
  font-weight: 600;
  color: black !important;
}

header .dropdown-toggle::after {
  color: #FECC29 !important;
}

header .nav-item :hover {
  color: #FECC29 !important;
}

header .btn-icone {
  height: 1.5em;
  width: 1.5em;
  margin-right: 0.75rem;
  margin-bottom: 0.25em;
}

header .btn-font {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  color:black;
}

header .btn {
  justify-content: flex-end !important;
  border: 10px solid #FECC29;
  background-color: #FECC29;
  border-radius: 15px;
}

header .btn:hover {
  background-color: rgb(254, 187, 41);
  border: 10px solid rgb(254, 187, 41);
  transform: scale(1.1);
}

/* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */

.carousel {
  margin-bottom: 4rem;
  margin-top: 150px;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 32rem;
}

.carousel-item>img {
  position: absolute;
  background: cover;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.carousel-seta {
  width: auto;
  z-index: 100;
}

.carousel-seta img {
  position: absolute;
  right: 50%;
  -webkit-transform: translate(50%);
  transform: translate(50%);
  margin-top: -31px !important;
}

/* About
  -------------------------------------------------- */

.como-funciona .title-section h1 {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 4rem;
}

.como-funciona {
  border-bottom: thin #edf1f2 solid;
  padding: 22.85px 0;
  margin-bottom: 7rem;
  margin-top: 5rem;
}

.como-funciona .icon_div {
  display: inline-block;
  margin-left: 4rem;
  vertical-align: middle;
}

.como-funciona .text_div {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

.como-funciona .text_div span {
  color: #58666e;
  font-size: 1.15em;
}

/* Featurettes
  ------------------------- */

.card {
  margin: 5%;
}

.card .carousel-item {
  height: 200px;
}

.card .carousel-caption {
  padding: 0;
  right: 0;
  left: 0;
  color: #3d3d3d;
}

.card .carousel-caption h3 {
  color: #3d3d3d;
}

.card .carousel-caption p {
  line-height: 30px;
}

.card .carousel-caption .col-sm-3 {
  display: flex;
  align-items: center;
}

.card .carousel-caption .col-sm-9 {
  text-align: left;
}

.card .carousel-control-prev, .card .carousel-control-next {
  color: #3d3d3d !important;
  opacity: 1 !important;
}

/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
  #quote-carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
    margin-top: 30px;
  }
}

/* Small devices (tablets, up to 768px) */

@media (max-width: 768px) {
  /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
  #quote-carousel .carousel-indicators {
    bottom: -20px !important;
  }
  #quote-carousel .carousel-indicators li {
    display: inline-block;
    margin: 0px 5px;
    width: 15px;
    height: 15px;
  }
  #quote-carousel .carousel-indicators li.active {
    margin: 0px 5px;
    width: 20px;
    height: 20px;
  }
}

/* RESPONSIVE CSS
  -------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/* Carousel text */

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
  /* */
}

/* Gallery */

.gallery .carousel-item {
  height: 14rem;
}

.gallery .carousel-indicators {
  left: 0;
  bottom: -40px;
}

.gallery .carousel-indicators li {
  background: black;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  border: 5px;
}

.gallery .carousel-indicators .active {
  background: #FECC29;
}

/* Blog */



/* The colour of the indicators */

