/* GLOBAL STYLES
-------------------------------------------------- */

body {
  margin-top: 12rem;
  padding-bottom: 0rem;
  color: black;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.btn {
  justify-content: flex-end !important;
  border: 10px solid #FECC29;
  background-color: #FECC29;
  border-radius: 15px;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 900;
  color: black;
}

.btn:hover {
  background-color: rgb(254, 187, 41);
  border: 10px solid rgb(254, 187, 41);
  transform: scale(1.1);
}

.btn .btn-white {
  border: 10px solid #4C4C4C;
  background-color: #4C4C4C;
}

.btn .btn-white:hover {
  background-color: #4C4C4C;
  border: 10px solid #4C4C4C;
}

.pm-0 {
  margin: 0;
  padding: 0;
}

.ml-0 {
  margin-left: 0;
}

.mr-0 {
  margin-right: 0;
}

.mrl-0 {
  margin-right: 0;
  margin-left: 0;
}

.pr-0 {
  padding-right: 0;
}

.lr-0 {
  padding-left: 0;
}

.prl-0 {
  padding-left: 0;
  padding-right: 0;
}

.pt-6 {
  padding-top: 6rem;
}

/* Navbar */

header .expand {
  padding-top: 3.750rem;
  padding-bottom: 3.3750rem;
}

.retract {
  padding-top: 1.750rem !important;
  padding-bottom: 1.3750rem !important;
}

header .nav-link {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  font-size: 1.05em;
  text-transform: uppercase;
  font-weight: 800;
  color: black !important;
}

header .dropdown-toggle::after {
  color: #FECC29 !important;
}

header .nav-item :hover {
  color: #FECC29 !important;
}

header .btn-icone {
  height: 1.5em;
  width: 1.5em;
  margin-right: 0.75rem;
  margin-bottom: 0.25em;
}

/* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
#banner .carousel {
  margin-bottom: 4rem;
}

#banner .carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

#banner .carousel-item {
  height: 32rem;
}

#banner .carousel-item>img {
  position: absolute;
  background: cover;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

#banner .carousel-seta {
  width: auto;
  z-index: 100;
}

#banner .carousel-seta img {
  position: absolute;
  right: 50%;
  -webkit-transform: translate(50%);
  transform: translate(50%);
  margin-top: -31px !important;
}

/* About
  -------------------------------------------------- */

#como-funciona h1 {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 4rem;
  font-weight: 900;
}

#como-funciona {
  border-bottom: thin #edf1f2 solid;
  padding: 22.85px 0;
  margin-bottom: 7rem;
  margin-top: 5rem;
}

#como-funciona .icon_div {
  display: inline-block;
  margin-left: 4rem;
  vertical-align: middle;
}

#como-funciona .text_div {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

#como-funciona .text_div span {
  color: #58666e;
  font-size: 1.15em;
}

.btn-saibaMais {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 5rem;
}

/* DEPOIMENTOS
  -------------------------------------------------- */

.bg-yellow {
  background-color: #FFCC29;
  height: 500px;
  width: auto;
  margin-left: 0;
  padding-left: 0;
}

#testimonial .container {
  position: relative;
  padding-left: 4rem;
  padding-right: 2rem;
  top: 25%;
}

#testimonial .bg-yellow img {
  border-radius: 20px;
  float: right;
}

#testimonial p {
  overflow-wrap: break-word;
}

#testimonial .btn {
  background-color: black;
  color: white;
  font-weight: 400;
  text-transform: none;
  border: 5px solid black;
  float: right;
}

#testimonial .bg-black {
  height: auto;
  width: 100%;
  margin-right: 0;
  padding-right: 0;
  background-color: black;
  padding-left: 0;
}

.bg-black img {
  background-image: cover;
  width: 100%;
  max-height: 500px;
}

/* REGIAO
  -------------------------------------------------- */

#regiao {
  margin-bottom: 5rem;
}

#regiao h2 {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 900;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

#regiao .carousel-item {
  height: 15rem;
}

#regiao .carousel-indicators li {
  background: black;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  border: 5px;
}

#regiao .carousel-indicators .active {
  background: #FECC29;
}

.img-regiao {
  border-radius: 20px;
}

/* BLOG 
  -------------------------------------------------- */

#blog h2 {
  justify-content: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 900;
}

#blog {
  padding-top: 5rem;
  padding-bottom: 4rem;
  background-color: #F3F3F3;
}

/* NEWSLETTER
  -------------------------------------------------- */

#newsletter {
  background: #4C4C4C;
  color: white;
  height: 320px;
}

#newsletter .seta {
  width: auto;
  z-index: 100;
}

#newsletter .seta img {
  position: absolute;
  right: 50%;
  -webkit-transform: translate(50%);
  transform: translate(50%);
  margin-top: -31px !important;
}

#newsletter .container {
  position: relative;
  top: 17%;
}

#newsletter h2 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 900;
}

#newsletter p {
  padding-top: 1rem;
  padding-right: 2rem;
}

#newsletter input {
  font-size: 18px;
  padding: 20px 10px 10px 5px;
  -webkit-appearance: none;
  display: block;
  background: #4C4C4C;
  color: white;
  width: 100%;
  border-radius: 20px;
  border: 2px solid white;
}

#newsletter input:focus {
  outline: none;
}

#newsletter label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 15px;
  transition: all 0.2s ease;
}

#newsletter input:focus~label, input.used~label {
  top: -30px;
  transform: scale(.75);
  left: 10px;
  color: white;
}

#newsletter .btn:hover {
  transform: none;
}

/* FOOTER 
  -------------------------------------------------- */

footer {
  background-color: black;
  widows: 100%;
  height: 500px;
}

footer img {
  border-radius: 20px;
  margin-left: 0;
  padding-left: 0;
}

footer h4 {
  color: white;
  font-weight: 900;
  font-size: 1.5rem;
  text-transform: uppercase;
}

footer span {
  color: #FECC29;
}

footer p {
  color: white;
}

footer .btn span {
  color: black !important;
}

.fa-envelope {
  background-color: #FECC29;
}

/* xxxxxxxxxxxxxx REGIAO xxxxxxxxxxxxxx
----------------------------------------*/
body {
  margin-top: 13rem;
  padding-bottom: 0rem;
  color: black;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

/* REGIOES
  -------------------------------------------------- */
#regioes {
  background-color: #E7E7E7;
  width: 100%;
  height: 200px;
}

#regioes h1 {
  color: black;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 25px;
  top: ;
}

.regiao-seta img {
  position: absolute;
  right: 50%;
  top: 377px;
  -webkit-transform: translate(50%);
  transform: translate(50%);
}

/* CIDADES
  -------------------------------------------------- */

#cidades {
  margin-top: 5rem;
}

#cidades h2, h3 {
  padding-left: 1rem;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.2rem;
}

#cidades h3 {
  color: #FECC29;
}

#cidades img {
  opacity: 0.5;
}

/* DESTAQUES
  -------------------------------------------------- */

#destaques .bg-yellow{
  border-radius: 20px;
}

/* LOCALIZAÇÃO
  -------------------------------------------------- */

#localização {}

/* ATENDIMENTO
  -------------------------------------------------- */
#atendimento {
  background-color: #1598BD;
  height: 320px;
  width: 100%;
}

.atendimento-seta img {
  position: absolute;
  right: 50%;
  -webkit-transform: translate(50%);
  transform: translate(50%);
}
