/* GLOBAL STYLES
-------------------------------------------------- */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: black;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

 .btn {
  justify-content: flex-end !important;
  border: 10px solid #FECC29;
  background-color: #FECC29;
  border-radius: 15px;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 900;
  color: black;
}
 .btn:hover {
  background-color: rgb(254, 187, 41);
  border: 10px solid rgb(254, 187, 41);
  transform: scale(1.1);
}

.btn--white {
  border: 10px solid #4C4C4C;
  background-color: #4C4C4C;
}
.btn--white:hover {
  background-color: #4C4C4C;
  border: 10px solid #4C4C4C;
}

.pm-0 {
  margin: 0;
  padding: 0;
}

/* Navbar */

header .expand {
  padding-top: 3.750rem;
  padding-bottom: 3.3750rem;
}

.retract {
  padding-top: 1.750rem !important;
  padding-bottom: 1.3750rem !important;
}

header .nav-link {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  font-size: 1.05em;
  text-transform: uppercase;
  font-weight: 800;
  color: black !important;
}

header .dropdown-toggle::after {
  color: #FECC29 !important;
}

header .nav-item :hover {
  color: #FECC29 !important;
}

header .btn-icone {
  height: 1.5em;
  width: 1.5em;
  margin-right: 0.75rem;
  margin-bottom: 0.25em;
}

/* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */

#banner {
  margin-top: 9rem;
}

#banner .carousel {
  margin-bottom: 4rem;
}

#banner .carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

#banner .carousel-item {
  height: 32rem;
}

#banner .carousel-item>img {
  position: absolute;
  background: cover;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

#banner .carousel-seta {
  width: auto;
  z-index: 100;
}

#banner .carousel-seta img {
  position: absolute;
  right: 50%;
  -webkit-transform: translate(50%);
  transform: translate(50%);
  margin-top: -31px !important;
}

/* About
  -------------------------------------------------- */

#como-funciona h1 {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 4rem;
  font-weight: 900;
}

#como-funciona {
  border-bottom: thin #edf1f2 solid;
  padding: 22.85px 0;
  margin-bottom: 7rem;
  margin-top: 5rem;
}

#como-funciona .icon_div {
  display: inline-block;
  margin-left: 4rem;
  vertical-align: middle;
}

#como-funciona .text_div {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

#como-funciona .text_div span {
  color: #58666e;
  font-size: 1.15em;
}

.btn-saibaMais {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 5rem;
}

/* DEPOIMENTOS
  -------------------------------------------------- */

.bg-yellow {
  background-color: #FFCC29;
  height: 500px;
  width: auto;
  margin-left: 0;
  padding-left: 0;
}

.bg-black {
  height: auto;
  width: 100%;
  margin-right: 0;
  padding-right: 0;
  background-color: black;
  padding-left: 0;
}

.bg-black img {
  background-image: cover;
}

.card {
  margin: 5%;
  background: #FFCC29;
}

.card .carousel-item {
  position: relative;
  height: 90%;
}

.card .carousel-caption {
  padding: 0;
  right: 0;
  left: 0;
  color: #3d3d3d;
}

.card .carousel-caption h3 {
  color: #3d3d3d;
}

.card .carousel-caption p {
  line-height: 30px;
}

.card .carousel-caption .col-sm-3 {
  display: flex;
  align-items: center;
}

.card .carousel-caption .col-sm-9 {
  text-align: left;
}

.card .carousel-control-prev, .card .carousel-control-next {
  color: #3d3d3d !important;
  opacity: 1 !important;
}

/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
  #quote-carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
    margin-top: 30px;
  }
}

/* Small devices (tablets, up to 768px) */

@media (max-width: 768px) {
  /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
  #quote-carousel .carousel-indicators {
    bottom: -20px !important;
  }
  #quote-carousel .carousel-indicators li {
    display: inline-block;
    margin: 0px 5px;
    width: 15px;
    height: 15px;
  }
  #quote-carousel .carousel-indicators li.active {
    margin: 0px 5px;
    width: 20px;
    height: 20px;
  }
}

/* REGIAO
  -------------------------------------------------- */

#regiao {
  margin-bottom: 5rem;
}

#regiao h2 {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 900;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

#regiao .carousel-item {
  height: 15rem; 
}

#regiao .carousel-indicators li {
  background: black;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  border: 5px;
}

#regiao .carousel-indicators .active {
  background: #FECC29;
}

.img-regiao {
  border-radius: 20px;
}

/* BLOG */
#blog h2 {
  justify-content: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 900;
}

#blog {
  padding-top: 5rem;
  padding-bottom: 4rem;
  background-color: #F3F3F3;
}

/* NEWSLETTER */
#newsletter {
  background: #4C4C4C;
  color: white;
}

#newsletter .seta {
  width: auto;
  z-index: 100;
}

#newsletter .seta img {
  position: absolute;
  right: 50%;
  -webkit-transform: translate(50%);
  transform: translate(50%);
  margin-top: -31px !important;
}

/* The colour of the indicators */